:root {
  /* --hero-height: 60vh; */
  --primary: color: rgb(0, 179, 206);
  --secondary: color: orange;
  ;
}

img {
  max-height: auto;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  /* max-width: 800px; */
  /* margin: auto; */
  /* background-color: rgb(56, 56, 56); */
  /* padding-bottom: 2rem; */
  font-family: "Rubik", sans-serif;
}

body {
  background-color: rgb(255, 228, 161);
  /* text-align: center; */
  /* display: grid; */
  /* padding: 1rem; */
  margin: auto;
  padding: 0;
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
}

main {
  padding: 0rem;
}

article {
  padding: 0rem;
}

a {
  color: rgb(0, 91, 136);
}

/* NAV ============================================= */
nav {
  background-color: orange;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  /* background-color: --primary; */
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  border-radius: 1rem;
  padding: .8rem;
  transition: .5s;
  text-decoration: none;
  display: inline-block;
  /* background-color: orange; */
}

nav a:hover {
  /* color: black; */
  border-radius: 1rem;
  /* border-radius: .25rem; */
  /* background-color: rgb(255, 102, 0); */
  background-color: rgb(255, 215, 140);
  /* filter: brightness(140%); */

}

nav ul {
  padding: 0;
}

/* END NAV ========================================= */

footer {
  /* padding-top: 3rem; */
  padding: 2rem;
  margin: 0 0 0 0;
  background-color: #cbb779;
  text-align: center;
}

/* HERO =========================================== */
.hero-section-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.hero-section-wrapper h1 {
  grid-column: 1 / -1;
  margin: 0;
}

/* end hero ------------------------------------------- */

/* hero-image ========================================= */
.hero-image {
  /* height: 50vw; */
  margin: auto;
  position: relative;
  /* justify-content: center; */
  padding-bottom: 3rem;
  /* box-shadow: 0 5rem 0 rgba(0, 0, 0, 0.245); */
  /* width: 100%; */
  height: 60vw;
  width: 90vw;
  text-align: center;

}

.hero-image img {
  z-index: 3;
  /* height: 50vw; */
  transition: 1s;
  transform: perspective(600px) rotateY(8deg);
  height: 60vw;

}

.hero-image img:hover {
  filter: hue-rotate(60deg);
  transform: perspective(699px) rotateY(5deg);
}

.hero-image-wrapper {
  box-shadow: inset 0 -8rem 0 rgba(105, 68, 0, 0.296);
}

/* end hero-image ========================================= */

.sticker {
  transition: 1s;
  text-align: center;
  position: absolute;
  z-index: 6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: all;
  width: 11rem;
  filter: brightness(110%);
}

.sticker:hover {
  transform: rotate(5deg);
  filter: hue-rotate(+70deg) brightness(1.1);
  background-image: url(/media/svgs/green-orb-jelly.svg);
}

.sticker:nth-of-type(1) {
  background-image: url(/media/svgs/sticker-star-2-orange.svg);
  left: 0;
  top: 0;
  filter: hue-rotate(190);
}

.sticker:nth-of-type(2) {
  background-image: url(/media/svgs/aqua-jelly.svg);
  right: 0;
  top: 20%;
}

.sticker:nth-of-type(3) {
  background-image: url(/media/svgs/pink-bowtie.svg);
  bottom: 20%;
  left: 0;
}

.sticker p {
  /* margin: 3rem; */
  padding: 3rem;
}

.hero-info {
  background-color: #f1c767;
  /* margin: 2.5rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main {
  text-align: left;
}


/* END HERO =========================================== */

/* buttons ============================================ */
button {
  border: 0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 .5rem 0 black;
  /* border: white 0px solid inset; */
  transition: .4s;
}

button a {
  display: block;
  text-decoration: none;
  color: black;
}

button:nth-of-type(1) {
  background-color: rgb(255, 154, 171);
}

button:nth-of-type(2) {
  background-color: rgb(255, 238, 110)
}


button:hover {
  /* background-color: rgb(255, 102, 0); */
  /* border: inset 6px solid white; */
  /* border-inline: rgb(0, 0, 0) 4px solid; */
  box-shadow: 0 .4rem 0 rgb(62, 62, 62);
  transform: translateY(.1rem);
  filter: brightness(110%);

}

/* end buttons ============================================ */


/* page control ================================================*/
.little-dog {
  width: 60vw;
  max-width: 24rem;
}

.laugh-dog {
  width: 60vw;
  max-width: 24rem;
  padding-left: 2rem;
  /* margin-left: auto; */
}

#p404 {
  text-align: center;
}

#p404 img {
  width: 50rem;
  max-width: 70vw;
}

.credit img {
  width: 1rem;
  /* background-color: red; */
  /* max-width: 70vw; */
}

#booklet {
  width: 50rem;
  max-width: 30vw;
}

.all-pages {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

#view-all {
  padding-top: 4rem;
}

.all-pages a:hover {
  outline: 4px black solid;
  /* box-sizing: border-box; */
  /* box-shadow: black .5rem .5rem 0; */

}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

#all-pages-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* end image control =========================================== */

/* typography ============================ */
.hero-section-wrapper h1 {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1.5rem, 10vw, 8rem);
  font-weight: 800;
  /* font-optical-sizing: auto; */
  /* position: relative; */
  z-index: 6;
  padding: 1.8rem;
  color: rgb(0, 160, 185);
  text-align: center;
}

.small-title h1 {
  font-size: clamp(1.2rem, 4vw, 4rem);

}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

.sticker p {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

nav a {
  font-family: "Rubik", sans-serif;
}

p {
  font-size: 1.2rem;
}

/* END typography ============================ */

/* read =============================================== */
.read-nav {
  background-color: #e6c76d;
  /* display: flex; */
  /* justify-content: center; */
  /* max-width: 80vw; */
  /* margin: auto; */
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  /* display: inline-block; */
}

.read-nav ul {
  /* background-color: red; */
  padding: 0;
  margin: 0;
  display: inline-block;
  /* width: 40rem; */
}

.read-nav li {
  padding: .8rem;
  margin: 0;
  display: inline-block;
  /* background-color: re; */
}

.read-nav a {
  color: black;
  text-decoration: none;
  font-size: clamp(1.1rem, 4vw, 3rem);
}

.read-article {
  text-align: center;
  min-width: 4rem;
  width: 80vw;
  max-width: 60rem;
  margin: auto;
}

.joke {
  display: flex;
}


i {
  box-shadow: 0 .5rem 0 black;
  /* border: 0; */
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 1rem;
  /* font-size: 1.5rem; */
  /* border: white 0px solid inset; */
  transition: .4s;
  background-color: #f59eb0;
}

i#all {
  /* color: red; */
  background-color: orange;
}

i a {
  /* color: #e8a2ab; */
  padding: 0;
  margin: 0;
}

i#start {
  /* background-color: rgb(255, 154, 171); */
}

i#left {
  /* background-color: rgb(255, 154, 171); */
}

i#right {
  background-color: rgb(110, 214, 255);
  /* background-color: rgb(255, 154, 171); */
}

i#end {
  background-color: rgb(110, 214, 255);
  /* background-color: rgb(255, 154, 171); */
  /* background-color: rgb(255, 238, 110); */
}


i:hover {
  /* background-color: rgb(255, 102, 0); */
  /* border: inset 6px solid white; */
  /* border-inline: rgb(0, 0, 0) 4px solid; */
  box-shadow: 0 .4rem 0 rgb(62, 62, 62);
  transform: translateY(.1rem);
  filter: brightness(110%);

}

/* end read =============================================== */



/* begin media queries =========================== */
@media screen and (max-width: 500px) {
  .sticker {
    width: 9rem;
  }

  .sticker p {
    padding: 1.5rem;
    font-size: 1.2rem;
  }

  .hero-image {
    width: 100vw;
    height: 70vw;
  }

  .hero-image img {
    height: 65vw;
  }

  .hero-info {
    padding: 0rem;
    margin: 0;
    width: 100vw;
  }

  article {
    padding: 1rem;
  }

}


@media screen and (min-width: 900px) {
  main {
    padding: 0 2rem;
  }


  .hero-image img {
    height: 50vw;
  }

  .hero-image {
    height: 50vw;
    width: 60vw;
  }

  .hero-section-wrapper h1 {
    padding: 2rem;
  }

  .small-title h1 {
    padding: 1rem;

  }

  .read-nav a {
    font-size: 6rem;
  }

}

@media screen and (min-width: 1100px) {

  .sticker {
    width: 12rem;
  }

  .hero-section-wrapper {
    grid-template-columns: 1fr 1fr;
  }


}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;

  }

  .hero-section-wrapper {
    grid-template-columns: 3fr 2fr;
  }

  .sticker {
    width: 9rem;
  }

  .sticker p {
    padding: 1.5rem;
    font-size: 1.2rem;
  }

  .hero-image {
    width: auto;
    height: auto;
  }

  .hero-image img {
    height: 30rem;
    width: auto;
  }

  .hero-info {
    padding: 0rem;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  h1 {
    padding: 3rem;
  }

  .small-title h1 {
    padding: 1.6rem;

  }

  .all-pages {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

}

/* end query */